\#*
\.#*
*.*~
*~
*.pyc
tmp*
*_tmp*
tmp/
.DS_Store
/test/
*/test/*
commit.txt
lint.html
lint.txt
*flymake*
.ropeproject*
*.db
*.zip
*.jpg
*.sqlite3
settings.py
/static/*
elpa/
recentf
anaconda-mode/
url/
eshell/
session*
.cask/
games/
network-security.data
projectile-bookmarks.eld